/script/brew/Brewfile.lock.json


/xdg/**
!/xdg/**/

# サブモジュールになってignoreされなかったので明示的に無視する
/xdg/data/cargo/git
/xdg/data/cargo/registry
/xdg/data/sheldon
/xdg/data/zinit

!/xdg/config/alacritty/alacritty.toml
!/xdg/config/bat/config
!/xdg/config/git/config
!/xdg/config/hammerspoon/init.lua
!/xdg/config/leftwm/config.ron
!/xdg/config/mise/config.toml
!/xdg/config/sheldon/plugins.toml
!/xdg/config/starship.toml
!/xdg/config/tig/config
!/xdg/config/vim/vimrc
!/xdg/config/wezterm/wezterm.lua
!/xdg/config/zsh/config/*
!/xdg/config/zsh/functions/*
!/xdg/config/zsh/.zlogin
!/xdg/config/zsh/.zlogout
!/xdg/config/zsh/.zprofile
!/xdg/config/zsh/.zshenv
!/xdg/config/zsh/.zshrc

!/xdg/data/cargo/config.toml

